@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Repos</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/dsSelect.css" rel="stylesheet" />
</head>
<body>
    <header>
    </header>

    <div class="container">
        <div class="row">
            <div class="dsSelect" id="dsSelectTemp">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" style="margin: 5px 0 5px 0; width:100%; text-align:center;">
                <button id="btnSubmit" type="button" class="btn btn-primary" data-toggle="button">  Sent  </button>
            </div>
        </div>
        <div class="row">
            <textarea style="width:100%; height:160px" id="txtSelected">
My Repo List
</textarea>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - leansoftX.com
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/dsSelect.js"></script>
    <script type="text/javascript">
        $(function () {
            let dsSelectObj = new dsSelect("dsSelectTemp");
            dsSelectObj.multiSelect = true;
            dsSelectObj.init();
            loadData(dsSelectObj);

            // 发送邮件 + 保存(如果都没有发送就没有保存,每次选择都保存比较浪费)
            $("#btnSubmit").click(function () {
                dsSelectObj.disableButtons();

                var ids = [];

                // 显示数据到文本框
                var text = "My Repo List";
                var items = dsSelectObj.getSelectRightValus();
                $(items).each(function (index, element) {
                    text = text + " \n" + element.name + ": " + element.gitUrl;
                    ids.push(element.id);
                });
                $("#txtSelected").val(text);

                // 提交到接口
                sendData(ids);

                dsSelectObj.restartButtons();
            });

            // 提交数据
           /* $("body").on("click", "div.dsButton", function () {
                var ids = [];
                var items = dsSelectObj.getSelectRightValus();
                $(items).each(function (index, element) {
                    ids.push(element.id);
                });
                sendData(ids);
            });*/
        });

        // 加载数据
        function loadData(dsSelectObj) {
            var url = "@Url.Action("GetData")";
            $.ajax({
                type: "GET",
                url: url,
                data: {},
                success: function (result) {
                    var leftArray = [];
                    var rightArray = [];
                    $(result).each(function (index, element) {
                        if (element.isCheck)
                            rightArray.push(element);
                        else
                            leftArray.push(element);
                    });
                    dsSelectObj.setLeftData(leftArray, "name");
                    dsSelectObj.setRightData(rightArray, "name");
                }
            });
        }

        // 提交数据
        function sendData(ids) {
            var url = "@Url.Action("SendMyRepos")";
            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: url,
                data: JSON.stringify({ ids: ids }),
                success: function (result) {

                }
            });
        }

    </script>
</body>
</html>
